BODY        	{ background: #000000;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px; 
		text-align: center; 
		font-family: sans-serif;
		color: #FFFFFF; }

TABLE		{ font-family: Arial;
		font-weight: normal;
		font-size: 14px;
		color: #FFFFFF; }

.small		{ font-size: 10px; }

A:link.noline	{text-decoration: none;
		color: #FFFFFF;}

A:Visited.noline {text-decoration: none;
		color: #FFFFFF;}

A:Active.noline	{color: #000000}

A:hover.noline  {color: #000000}

A:link		{color: #FFFFFF}

A:Visited	{color: #FFFFFF}

A:Active	{color: #000000}

A:hover     	{color: #000000}

HR		{height: 1px;
		color: #68AEFD;
		width: 50% }

HR.forumhr	{height: 1px;
		color: #FFFFFF;
		width: 100% }

HR.quotehr	{height: 1px;
		color: #68AEFD;
		width: 100% }

.quotetxt	{ color: #FFFFFF; }

input		{ background: #326AD7;
		color: #FFFFFF; 
		font-family: Arial; }

.button		{ background: #326AD7; 
		color: #FFFFFF; 
		font-family: Arial; }

.poll		{ background: #3388DD; 
		color: #3388DD; }

.kies		{ background: #0044CC; 
		color: #0044CC; } 


select		{ background: #326AD7;
		color: #FFFFFF; 
		font-family: Arial; }

textarea	{ background: #326AD7;
		color: #FFFFFF; 
		font-family: Arial; }

.menuhead	{ font-weight: bold;
		color: #FFFFFF; 
		font-size: 12px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-align: center; }

.menuitemleft	{ background-color: #3388DD;
		font-weight: normal;
		font-size: 12px;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 5px;
		padding-right: 5px;
		color: #FFFFFF;
		text-align: left; }

.menuitemright	{ background-color: #3388DD;
		font-weight: normal;
		font-size: 12px;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 5px;
		padding-right: 5px;
		color: #FFFFFF;
		text-align: left; }

.pad10		{ padding-left: 10px; }

.tdtitel	{ padding-left: 10px; 
		color: #FFFFFF;
		font-weight: Bold }

.tdinfo		{font-size: 10px;
		padding-right: 5px;
		padding-left: 5px; 
		background-color: #0044CC; }

.tdtext		{ background-color: #0044CC;
		padding-top: 5px;  
		padding-bottom: 5px; 
		padding-right: 5px;  
		padding-left: 5px; } 

.tdfoto		{ background-color: #000000;
		padding-top: 1px;  
		padding-bottom: 1px; 
		padding-right: 1px;  
		padding-left: 1px; } 

.td1		{ background-color: #0044CC;
		padding-left: 5px; } 

.td2		{ background-color: #3388DD;
		padding-left: 5px; }

.td3		{ background-color: #68AEFD;
		padding-left: 5px; }

.poll		{ background-color: #3388DD;
		color: #FFFFFF;
		padding-left: 5px; }

.forum1		{ background-color: #0044CC;
		padding-left: 5px; } 

.forum2		{ background-color: #FF6600;
		padding-left: 5px;
		font-size: 16px; }

.forum3         { background-color: #FF6600;
                padding-left: 5px;
                font-size: 18px; }



.topbar		{ background-color: #3388DD;
		padding-left: 5px; 
		background-image: url("/pix/templates/blauw/topbar.gif"); }
      

